body {
    background-color: rgb(173, 216, 230);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.image{
  
    border: 5px solid rgb(93, 94, 93);
    border-radius: 10px;
    height: 400px;
}

h1{
    text-align: center;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

button:hover {
    background-color: #da4d9b; 
    /* Color al pasar el ratón */
  }
